<div class="container">
    <h2 class="mt-5 text-center">Quotes</h2>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <h4>Generated Quotes</h4>
            <div *ngFor="let quote of quotes; let i = index">
                <div>
                    <h6>{{quote.author}}</h6>
                    <button (click)="showMore(i)" id="btn">Show More</button>
                    <!-- <button>Upvote</button> -->
                </div>
                <div *ngIf="quote.showQuote">
                    <app-quote-detail *ngIf="quote.showQuote" [quote]="quote" (isComplete) = "deleteQuote($event,i)"></app-quote-detail>
                </div>
                <!-- <h5>{{quote.quote}}</h5>
                <button>Add</button> -->
            </div>
            <!-- <app-quote-detail></app-quote-detail> -->
        </div>
        <div class="col-md-6">
            <app-quote-form></app-quote-form>
            <!-- <h4>Quotes Form</h4> -->
        </div>
    </div>
</div>
