<div id="container" class="container">
    <h2 id="h2" class="mt-5 text-center">Amazing Quotes</h2>
    <hr>
    <div class="row">
        <div class="col-md-6 text-center">
            <h3 id="h4">Generated Quotes</h3>
            <div *ngFor="let quote of quotes; let i = index">
                <div>
                    <div *ngIf="highestUpvote()===quote.upvote && quote.upvote > 0; then highlight else unhighlight"></div>
                    <div *ngIf="highestUpvote()!==quote.upvote || quote.upvote===0"></div>
                    <ng-template #highlight>
                        <h6 appHighlight>{{quote.author}}{{quote.publishDate|date|uppercase}}</h6>
                        <button (click)="showMore(i)" id="btn">Show More</button>
                        <button (click)="upVoteQuote(i)" id="btn">Upvote- {{quote.upvote}}</button>
                        <button (click)="downVoteQuote(i)" id="btn">Downvote-{{quote.downvote}}</button>
                    </ng-template>
                    <ng-template #unhighlight>
                        <h6>{{quote.author}}</h6>
                        <button (click)="showMore(i)" id="btn">Show More</button>
                        <button (click)="upVoteQuote(i)" id="btn">Upvote- {{quote.upvote}}</button>
                        <button (click)="downVoteQuote(i)" id="btn">Downvote-{{quote.downvote}}</button>
                    </ng-template>
                    <!-- <h6 appHighlight>{{quote.author}}</h6>
                    <button (click)="showMore(i)" id="btn">Show More</button>
                    <button appHighlight (click)="upVoteQuote(i)" id="btn">Upvote- {{quote.upvote}}</button>
                    <button (click)="downVoteQuote(i)" id="btn">Downvote-{{quote.downvote}}</button> -->
                </div>
                <div *ngIf="quote.showQuote">
                    <app-quote-detail *ngIf="quote.showQuote" [quote]="quote" (isComplete) = "deleteQuote($event,i)"></app-quote-detail>
                </div>
                <!-- <h5>{{quote.quote}}</h5>
                <button>Add</button> -->
            </div>
            <!-- <app-quote-detail></app-quote-detail> -->
        </div>
        <div class="col-md-6">
            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
            <!-- <h4>Quotes Form</h4> -->
        </div>
    </div>
</div>
