#btn{
    margin-right: 2%;
    background-color: rgb(226, 43, 202);
    border: none;
    border-radius: 10px;
    padding: 12px;
    margin-bottom: 1%;
}

#btn:hover{
    background-color: rgb(255, 192, 221);
}