@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Hurricane&family=Poppins:wght@300;400;500;600&display=swap');
#btn{
    margin-right: 2%;
    background-color: rgb(226, 43, 202);
    border: none;
    border-radius: 10px;
    padding: 12px;
    margin-bottom: 1%;
}

#btn:hover{
    background-color: rgb(255, 192, 221);
}
#h4,
#h2{
    font-family: 'Beau Rivage', cursive;
}