@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Hurricane&family=Poppins:wght@300;400;500;600&display=swap');
#h4{
    font-family: 'Beau Rivage', cursive;
    text-align: center; 
}
#post{
    margin-top: 2%;
    margin-bottom: 4%;
}
#form{
    margin-left: 4%;
}
#reset {
    margin-left: 2%;
    margin-bottom: 2%;
}